
@import "/less/variables.less";


.sidebar-container,
.skeleton-nav,
#content {
    max-width: 1040px;
    margin: auto;
}
#content {
    background-color: white;
}

.sidebar-container {
    margin-top: @grid-gutter-width;
    background-color: @color0;
}

body {
    background-color: @color0;
}

.entry-content {
    margin-left: @grid-gutter-width;
    margin-right: @grid-gutter-width;
}

.icon-noticon {
    font-family: @font-family-korean !important;
    font-size: 15px !important;
    color: white;
}

time.icon-noticon {
    line-height: 1.0em !important;
    padding-top: 26px;
}

.datetime-container {
    float: left;
    @media (min-width: @screen-sm) {
        & {
            margin-left: @grid-gutter-width;
        }
    }
}

h1.entry-title {
    color: black;
    font-size: 20px;
    padding-top: 29px;
    margin-bottom: 0px;
    a {
        color: black;
    }
}

.icon-circle { color: @color1; }
.title-container { border-color: @color1;}

.guestbook-header .icon-circle { color: @color2; }
.guestbook-header .title-container { border-color: @color2;}

.month-01,
.month-07 {
    .icon-circle { color: @color1; }
    .title-container { border-color: @color1;}
}
.month-02,
.month-08 {
    .icon-circle { color: @color2; }
    .title-container { border-color: @color2;}
}
.month-03,
.month-09 {
    .icon-circle { color: @color3; }
    .title-container { border-color: @color3;}
}
.month-04,
.month-10 {
    .icon-circle { color: @color4 }
    .title-container { border-color: @color4;}
}
.month-05,
.month-11 {
    .icon-circle { color: @color5; }
    .title-container { border-color: @color5;}
}
.month-06,
.month-12 {
    .icon-circle { color: @color6; }
    .title-container { border-color: @color6;}
}

.title-container {
    vertical-align: bottom;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-height: 7em;

    .category {
        font-size: 13px;
        a {
            color: lighten(@color0, 35%);
        }
    }
}

.entry-tags .icon-circle,
.entry-tags a {
    color: @color4;
}
.entry-tags a.icon-noticon {
    color: white;
}

.widget-who {
    background-color: @color4;

    .circle-line,
    .icon-circle {
        color: @color2;
        background-color: @color4;
    }
    img {
        width: 100%;
    }
}
.widget-categories {
    background-color: @color5;

    .circle-line,
    .icon-circle {
        color: @color3;
        background-color: @color5;
    }
    padding-bottom: @grid-gutter-width;

}
.widget-counter {
    padding: @grid-gutter-width;
    background-color: @color2;
}

.widget-medals {
    text-align: center;
    background-color: @color3;
    a,
    .tt-mapsidebar-module {
        margin: @grid-gutter-width;
        display: inline-block;
    }
}

.widget .circle-title{
    text-align: center;
    padding: 10px 0;
}

.widget .circle-line {
    position: absolute;
    display: inline-block;
    height: 3em;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    left: 25px;
    right: 25px;
}

.who-description {
    text-align: right;
    padding: 1em;
}


.widget-inner ul li a:hover {
    background-color: @color3;
}

hgroup h1 a {
    margin-right: @grid-gutter-width;
    display: inline-block;
    width: 447px;
    max-width: 447px;
    height: 121px;
    background-image: url('images/title.svg');
    background-repeat: no-repeat;

    // hide text
    text-indent: -9999em;
    overflow: hidden;
    text-align: left;
}

@media (max-width: @screen-sm) {

    hgroup h1 a {
        width: 80%;
        background-size: 100%;
        background-position-x: 100%;
    }
}

.menu-home .icon-circle {
    color: @color1;
}
.menu-guestbook .icon-circle {
    color: @color2;
}
.menu-naver .icon-circle {
    color: @color3;
}
.menu-daum .icon-circle {
    color: @color4;
}
.menu-rss .icon-circle {
    color: @color5;
}
.menu-home:hover .icon-circle {
    color: @color1light;
}
.menu-guestbook:hover .icon-circle {
    color: @color2light;
}
.menu-naver:hover .icon-circle {
    color: @color3light;
}
.menu-daum:hover .icon-circle {
    color: @color4light;
}
.menu-rss:hover .icon-circle {
    color: @color5light;
}

nav .icon-noticon i {
    top: 30px;
    font-size: 32px !important;
}

.icon-daum {
    background-image: url("images/icon-daum.svg") !important;
    top: 17px !important;
}
.icon-naver {
    background-image: url("images/icon-naver.svg") !important;
    top: 22px !important;
}
.icon-daum,
.icon-naver {

    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 0px !important;
}

nav {
    text-align: center;
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;
    .icon-noticon {
        line-height: 1em !important;
        span {
            padding-top: 55px;
            display: inline-block;
        }
        font-size: 0.3em !important;
    }
    .icon-circle {
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s;

    }
    a:hover,
        a:active,
        a:visited
        {
        color: white;
        text-decoration: none;
    }
}

@media (max-width: @screen-sm) {

    nav {

        .icon-4x {
            font-size: 3em;
        }
        .icon-noticon {
            span {
                padding-top: 40px;
            }
            i {
                top: 24px;
                font-size: 18px !important;
            }
        }

        .icon-daum {
            background-image: url("images/icon-daum-small.svg") !important;
            top: 17px !important;
        }
        .icon-naver {
            background-image: url("images/icon-naver-small.svg") !important;
            top: 22px !important;
        }

    }
}

@media (max-width: @screen-xs) {

    nav {
        padding-right: 0;
        .icon-4x {
            font-size: 2em;
        }
        .icon-noticon {
            span {
                padding-top: 24px;
            }

            i {
                display: none !important;
            }
            font-size: 10px !important;
        }
        .menu-guestbook .icon-noticon span {
            padding-top: 20px;
        }
    }
}


.entry-footer {
    margin-top: 10px;
    padding-left: @grid-gutter-width / 2;
    padding-right: @grid-gutter-width / 2;
    padding-top: @grid-gutter-width;
    background-color: @color4;
    color: white;

    .actionTrail {
        padding-left: @grid-gutter-width / 2;
        padding-right: @grid-gutter-width / 2;
        color: @color2;
        a {
            color: @color2;
        }
    }
    a {
        color: white;
    }
}

/* name link
-------------------------------------------------- */

.comments {
    background-color: white;
    color: @color0;
    .name,
    .name a {
        color: @color4;
    }
    a {
        color: @color0;
    }
    .col-sm-12 {
        padding-right: 0px;
    }
}

.comments .replies {
    padding-left: @grid-gutter-width;
    background-color: @color4;
    color: white;
    .name,
    .name a {
        color: @color2;
    }
    a {
        color: white;
    }
}

.comment, .guestbook {
    form {
        padding-left: @grid-gutter-width / 2;
        padding-right: @grid-gutter-width / 2;
    }

    .comments {
        padding-top: @grid-gutter-width;
    }
}

.guestbook {
    padding-left: @grid-gutter-width / 2;
    padding-right: @grid-gutter-width / 2;

    .comments {
        background-color: @color4;
        color: white;
        .name,
        .name a {
            color: @color2;
        }
        a {
            color: white;
        }
    }

    .comments .replies {
        background-color: white;
        color: @color0;
        .name,
        .name a {
            color: @color4;
        }
        a {
            color: @color0;
        }
    }
}


.carousel-control .icon-next, .carousel-control .icon-chevron-right {
    right: 50% !important;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .icon-chevron-left, .carousel-control .icon-chevron-right {
    position: absolute !important;
    top: 50% !important;
    z-index: 5 !important;
    display: inline-block !important;
}

a.carousel-control.left,
a.carousel-control.right {
    background-image: none !important;
}

.carousel-caption {
    background-color: fade(@color0, 50%) !important;
    right: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    padding-top: @grid-gutter-width !important;
    padding-bottom: @grid-gutter-width !important;
    padding-left: @grid-gutter-width !important;
    text-align: left !important;
    font-size: 18px !important;

    @media (max-width: @screen-sm) {

        & {
            padding: 5px !important;
        }
    }
}

.search-list
{
    padding-left:  @grid-gutter-width / 2;
    padding-right:  @grid-gutter-width / 2;
    .search-list-thumbnail {
        padding-top: @grid-gutter-width;
    }

    .caption {
        background-color: fade(@color0, 50%);
        right: @grid-gutter-width / 2;
        left: @grid-gutter-width / 2;
        bottom: 0px;
        padding-left: 5px;
        text-align: left;

        position: absolute;
        z-index: 10;
        color: #fff;


        @media (max-width: @screen-sm) {

            & {
                padding: 5px;
            }
        }
    }
}

#ttCanvas .tt-post {
    .tt-post-title {
        font-weight: bold;
    }
    .col-sm-4 {
        padding-left: 1em;
        padding-right: 2em;
    }
    .col-sm-2,
    .col-sm-4 {
        margin-bottom: @grid-gutter-width;
    }
    a.tt-wrap-thumb-link {
        margin-right: 15px !important;
        border: none !important;
    }
}


/* Dynamic menu on the top right corner */
#tistorytoolbarid {
    transition-duration: 0.5s;
    transition-delay: 3s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 3s;
    -moz-transition-duration: 0.5s;
    -moz-transition-delay: 3s;
    width: 1em;
    overflow: hidden;
}
#tistorytoolbarid:hover {
    transition-duration: 1s;
    transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0s;
    width: 32em;
    overflow: visible;
}

@media (min-width: @screen-xs ) {

    .entry-content p {
        line-height: 2.0em;
    }
}
// Push text on the right
@media (min-width: @screen-sm   ) {
    .entry-content {
        @text-padding: 300px;

        p {
            padding-left: @text-padding;
            line-height: 2.2em;
        }

        img {
            max-width: 150%;
            margin-left: -@text-padding;
        }
    }
}

@media (min-width: @screen-md   ) {
    .entry-content {
        @text-padding: 400px;

        p {
            padding-left: @text-padding;
        }

        img {
            max-width: none;
            margin-left: -@text-padding;
        }
    }
}
div#ttCanvas .tt-item a.carousel-control:hover {
    text-decoration: none;
}
#ttCanvas span[class^="icon-"],
#ttCanvas span[class*=" icon-"]
{
    font-family: FontAwesome;
}

.pagination-container {
    text-align: center;
}